openapi: "3.1.0"
info:
  title: CivitasOne Suite API
  version: "0.2.0"
  description: |
    Unified API for CivitasOne government ERP suite.
    All endpoints require Bearer token authentication (Keycloak OIDC).
    Write operations return 202 Accepted (CQRS async processing).
  contact:
    name: CivitasOne Platform Team
    url: https://civitasone.app/docs/api
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://api.civitasone.app
    description: Production
  - url: http://localhost:8080
    description: Local Development
security:
  - bearerAuth: []
tags:
  - name: Finance
    description: Budget, bills, payments, GL, sanctions
  - name: HRMS
    description: Employees, leave, attendance, payroll
  - name: Procurement
    description: Indents, vendors, purchase orders, GRN
  - name: Tenant
    description: Settings, plans, subscriptions, quotas
  - name: Admin
    description: Feature flags, webhooks, scheduled jobs, data export
  - name: Identity
    description: Authentication, sessions, devices
  - name: Citizen
    description: Requests, RTI, grievances
  - name: Stock
    description: Items, barcode lookup, goods receipt
  - name: Inventory
    description: Batch management, quarantine, recall
  - name: Helpdesk
    description: Tickets, SLA, escalation
  - name: Audit
    description: Events, compliance, observations
  - name: Payroll
    description: Pay runs, F&F settlements, tax computation
  - name: Workflow
    description: Decision tables, workflow instances, tasks
  - name: Analytics
    description: Query engine, joins, calculated fields, drill-through
  - name: Visitor
    description: Visitor management, badge printing, document scanning, turnstile control
  - name: Meeting
    description: Meeting lifecycle, committees, agenda, minutes, decisions, action items, voting
  - name: Inspection
    description: Inspection lifecycle, universe, risk scoring, sync, evidence, findings
  - name: Catalogue
    description: Products, rates, eligibility rules, bundles
  - name: CDP
    description: Golden profiles, identity resolution, event ingestion, segments, data stewardship
  - name: Loyalty
    description: Loyalty programs, member enrolments, points accrual/redemption, tiers
  - name: Journey
    description: Multi-step campaign journeys, triggers, step executions, profile enrollments
  - name: Field
    description: Field tasks, GPS-verified visits, route optimization, offline sync
  - name: Recommendation
    description: Next-best-action recommendations, cross-sell matrix, account health, feedback
  - name: AI Agent
    description: Agent definitions, chat conversations, copilot turns, guardrails, AI governance
  - name: Notification
    description: Email deliverability — sending domains, DKIM/SPF/DMARC authentication health
  - name: CRM
    description: Contacts and leads, configurable lead field rules, lead completeness scoring
  - name: Knowledge
    description: Documents, articles, records, full-text search

paths:
  # ═══════════════════════════════════════════════════════════════════════════
  # Finance Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/finance/bills:
    post:
      operationId: createBill
      tags: [Finance]
      summary: Create a new bill
      description: |
        Creates a bill (expenditure voucher) for a vendor or contractor payment.
        The bill enters the approval workflow and, once sanctioned, becomes eligible
        for payment processing. Amount is in paise (minor units).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillRequest"
      responses:
        "202":
          description: Bill creation accepted for async processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_officer or finance_admin
      security:
        - bearerAuth: []
    get:
      operationId: listBills
      tags: [Finance]
      summary: List bills
      description: |
        Returns a paginated list of bills for the current tenant.
        Supports filtering by status, vendor, and date range.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, sanctioned, paid, cancelled]
        - name: vendorId
          in: query
          schema:
            type: string
            format: uuid
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Paginated list of bills
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Bill"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/finance/sanctions:
    post:
      operationId: createSanction
      tags: [Finance]
      summary: Create a budget sanction
      description: |
        Creates an expenditure sanction against a budget head. The sanction
        reserves funds and must be approved by a checker (maker-checker pattern)
        before bills can be drawn against it. Amount in paise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSanctionRequest"
      responses:
        "202":
          description: Sanction creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_officer or finance_admin
      security:
        - bearerAuth: []

  /v1/finance/payments:
    post:
      operationId: initiatePayment
      tags: [Finance]
      summary: Initiate a payment
      description: |
        Initiates payment processing for a sanctioned bill. Supports PFMS
        integration for government treasury payments and NEFT/RTGS for direct
        bank transfers. Amount in paise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "202":
          description: Payment initiation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_admin
      security:
        - bearerAuth: []

  /v1/finance/gl/entries:
    get:
      operationId: listGlEntries
      tags: [Finance]
      summary: List General Ledger entries
      description: |
        Returns double-entry GL journal entries for the current tenant.
        Each transaction produces balanced debit/credit entries. Supports
        filtering by account, date range, and voucher reference.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: accountId
          in: query
          schema:
            type: string
            format: uuid
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
        - name: voucherRef
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated GL entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GlEntry"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/finance/budgets:
    post:
      operationId: createBudget
      tags: [Finance]
      summary: Create a budget allocation
      description: |
        Creates a budget allocation for a financial year against a Head of Account.
        Allocations define the spending ceiling for a budget head. Amount in paise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBudgetRequest"
      responses:
        "202":
          description: Budget creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_officer or finance_admin
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # HRMS Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/hrms/leave-applications:
    post:
      operationId: applyLeave
      tags: [HRMS]
      summary: Apply for leave
      description: |
        Submits a leave application for an employee (CQRS write — returns 202,
        the command is processed asynchronously). Roles: hr_admin, hr_officer,
        super_admin, manager, or employee (self-service).

        Synchronous validation before acceptance (`enforceCcsLeaveRules`):
        - Engagement eligibility gate — engagement types not entitled to the
          salaried leave scheme (e.g. consultant, third_party) are rejected
          (422 `LEAVE_NOT_ELIGIBLE`).
        - Overlap guard — dates that overlap an existing pending/approved
          application for the same employee are rejected (422 `LEAVE_OVERLAP`).
        - CCS(Leave) Rules — balance checks, minimum service requirements, and
          leave-type-specific policies (CL/EL/HPL/ML etc) (422
          `LEAVE_RULE_VIOLATION`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyLeaveRequest"
      responses:
        "202":
          description: Leave application accepted (queued for processing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
        "404":
          description: |
            Referenced entity not found — `ALLOC_NOT_FOUND` (leave allocation),
            `LEAVE_TYPE_NOT_FOUND`, or `EMP_NOT_FOUND` (employee).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: |
            Business rule violation. Possible `code` values:
            - `LEAVE_NOT_ELIGIBLE` — engagement type does not accrue leave.
            - `LEAVE_OVERLAP` — the requested dates overlap an existing
              pending/approved leave application for the same employee.
            - `LEAVE_RULE_VIOLATION` — CCS(Leave) Rules violation (balance,
              minimum service, leave-type policy).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/leave-requests:
    post:
      operationId: applyLeaveRequest
      tags: [HRMS]
      summary: Apply for leave (alias of /v1/hrms/leave-applications)
      description: |
        Alias route for `POST /v1/hrms/leave-applications`. Identical behaviour,
        request body, validation, and responses — provided for clients that use
        the `leave-requests` naming. See `/v1/hrms/leave-applications` for full
        validation semantics (engagement eligibility, overlap guard, CCS Rules).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyLeaveRequest"
      responses:
        "202":
          description: Leave application accepted (queued for processing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
        "404":
          description: |
            Referenced entity not found — `ALLOC_NOT_FOUND` (leave allocation),
            `LEAVE_TYPE_NOT_FOUND`, or `EMP_NOT_FOUND` (employee).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: |
            Business rule violation. Possible `code` values:
            - `LEAVE_NOT_ELIGIBLE` — engagement type does not accrue leave.
            - `LEAVE_OVERLAP` — the requested dates overlap an existing
              pending/approved leave application for the same employee.
            - `LEAVE_RULE_VIOLATION` — CCS(Leave) Rules violation (balance,
              minimum service, leave-type policy).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/attendance/locks:
    get:
      operationId: listAttendanceLocks
      tags: [HRMS]
      summary: List attendance period locks
      description: |
        Returns the attendance period locks for the tenant (DEF-AT-001,
        T&A-ATM-0247). Each entry records whether an attendance month
        (`period`, YYYY-MM) is `locked` (payroll cut-off) or `open`, along with
        who locked it and when. Roles: hr_admin, hr_officer, super_admin, manager.
      responses:
        "200":
          description: Current attendance period locks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AttendanceLock"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []
    post:
      operationId: lockAttendancePeriod
      tags: [HRMS]
      summary: Lock an attendance period (payroll cut-off)
      description: |
        Locks an attendance month so that attendance marking and regularisation
        for any date in that month are rejected (422 `ATTENDANCE_LOCKED`) until
        the period is re-opened (DEF-AT-001, T&A-ATM-0247). CQRS write — returns
        202, processed asynchronously. Elevated roles only: hr_admin, super_admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PeriodLockRequest"
      responses:
        "202":
          description: Lock command accepted (queued for processing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error (period must be YYYY-MM)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/attendance/locks/unlock:
    post:
      operationId: unlockAttendancePeriod
      tags: [HRMS]
      summary: Re-open a locked attendance period
      description: |
        Re-opens a previously locked attendance month, allowing attendance
        marking and regularisation for that month again (DEF-AT-001,
        T&A-ATM-0247). CQRS write — returns 202, processed asynchronously.
        Elevated roles only: hr_admin, super_admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PeriodLockRequest"
      responses:
        "202":
          description: Unlock command accepted (queued for processing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error (period must be YYYY-MM)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []


  # ═══════════════════════════════════════════════════════════════════════════
  # HRMS Self-Service (Employee Portal)
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/hrms/me/profile:
    get:
      operationId: getMyProfile
      tags: [HRMS]
      summary: Get current employee's profile (self-service)
      description: |
        Returns the employee record linked to the authenticated user. Resolution
        strategy:
        1. Primary lookup by `userRef` matching the JWT `sub` claim (actorId).
        2. Fallback: if no `userRef` match, attempts to match by email from JWT
           claims. On success, auto-links the `userRef` for future fast lookups
           (solves the bootstrap problem where employees are seeded without
           `user_ref` populated).

        Any authenticated user can call this endpoint — no specific role required
        beyond a valid JWT. Returns the employee's own record only (tenant-scoped).
      responses:
        "200":
          description: Employee profile found and returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeProfile"
        "401":
          description: Missing or invalid bearer token
        "404":
          description: |
            No employee record linked to the authenticated user (`NOT_FOUND`).
            Neither `userRef` nor email matched any employee in the tenant.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/me/leave-balance:
    get:
      operationId: getMyLeaveBalance
      tags: [HRMS]
      summary: Get current employee's leave balance
      description: |
        Returns leave allocations for the authenticated employee, showing total,
        used, and remaining balance per leave type and financial year.
      responses:
        "200":
          description: Leave balance breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        leaveTypeId:
                          type: string
                          format: uuid
                        fy:
                          type: string
                          description: Financial year (e.g. "2025-26")
                        total:
                          type: integer
                          description: Total days allocated
                        balance:
                          type: integer
                          description: Remaining days
                        used:
                          type: integer
                          description: Days consumed
        "401":
          description: Missing or invalid bearer token
        "404":
          description: No employee record linked to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/me/attendance:
    get:
      operationId: getMyAttendance
      tags: [HRMS]
      summary: Get current employee's attendance records
      description: |
        Returns attendance records for the authenticated employee. Supports
        pagination via `limit` and `offset` query parameters (defaults: limit=31,
        offset=0).
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 31
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Attendance records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        status:
                          type: string
                          enum: [present, absent, half_day, leave, holiday, weekly_off]
                        inTime:
                          type: string
                          format: time
                          nullable: true
                        outTime:
                          type: string
                          format: time
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "404":
          description: No employee record linked to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/me/leave-applications:
    get:
      operationId: getMyLeaveApplications
      tags: [HRMS]
      summary: Get current employee's leave applications
      description: |
        Returns all leave applications submitted by the authenticated employee,
        including pending, approved, and rejected applications.
      responses:
        "200":
          description: Leave applications list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        leaveTypeId:
                          type: string
                          format: uuid
                        fromDate:
                          type: string
                          format: date
                        toDate:
                          type: string
                          format: date
                        days:
                          type: integer
                          description: Number of days applied
                        status:
                          type: string
                          enum: [pending, approved, rejected, cancelled]
        "401":
          description: Missing or invalid bearer token
        "404":
          description: No employee record linked to user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Recruitment — New Endpoints (PRs #263–#286)
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/hrms/candidates/{id}/resumes:
    post:
      operationId: uploadResumeVersion
      tags: [HRMS - Recruitment]
      summary: Upload a new resume version (R-RA-0087)
      responses:
        "201": { description: Resume version created }
        "422": { description: Invalid resume (MIME/size/IDOR) }
      security: [{ bearerAuth: [] }]
    get:
      operationId: listResumeVersions
      tags: [HRMS - Recruitment]
      summary: List resume versions for a candidate
      responses:
        "200": { description: Resume versions (newest first) }
      security: [{ bearerAuth: [] }]

  /v1/hrms/candidates/{id}/resumes/{resumeId}/activate:
    post:
      operationId: activateResumeVersion
      tags: [HRMS - Recruitment]
      summary: Make a resume version active
      responses:
        "200": { description: Resume activated }
        "404": { description: Resume version not found }
      security: [{ bearerAuth: [] }]

  /v1/hrms/applications/{id}/screening-overrides:
    post:
      operationId: requestScreeningOverride
      tags: [HRMS - Recruitment]
      summary: Request a maker-checker screening override (R-RA-0111)
      responses:
        "201": { description: Override request created (pending) }
        "409": { description: Override already pending or shortlist frozen }
        "422": { description: Invalid override (same decision / pending app) }
      security: [{ bearerAuth: [] }]
    get:
      operationId: listScreeningOverrides
      tags: [HRMS - Recruitment]
      summary: List screening override requests for an application
      responses:
        "200": { description: Override request list }
      security: [{ bearerAuth: [] }]

  /v1/hrms/screening-overrides/{reqId}/approve:
    post:
      operationId: approveScreeningOverride
      tags: [HRMS - Recruitment]
      summary: Approve + apply a screening override (checker)
      responses:
        "200": { description: Override approved, decision changed }
        "403": { description: SoD violation (requester/original screener) }
        "409": { description: Stale / not pending / version conflict }
      security: [{ bearerAuth: [] }]

  /v1/hrms/screening-overrides/{reqId}/reject:
    post:
      operationId: rejectScreeningOverride
      tags: [HRMS - Recruitment]
      summary: Reject a screening override (checker)
      responses:
        "200": { description: Override rejected }
        "403": { description: SoD violation }
      security: [{ bearerAuth: [] }]

  /v1/hrms/screening-overrides/{reqId}/cancel:
    post:
      operationId: cancelScreeningOverride
      tags: [HRMS - Recruitment]
      summary: Cancel a pending override (requester only)
      responses:
        "200": { description: Override cancelled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/applications/{id}/rejection-notice:
    get:
      operationId: getRejectionNotice
      tags: [HRMS - Recruitment]
      summary: Candidate-safe rejection notice (R-RA-0118, no internal scores)
      responses:
        "200": { description: Allow-list projected notice }
      security: [{ bearerAuth: [] }]

  /v1/hrms/job-openings/{id}/rejection-policy:
    patch:
      operationId: setRejectionPolicy
      tags: [HRMS - Recruitment]
      summary: Set the per-vacancy disclosure policy for rejection reason
      responses:
        "200": { description: Policy updated }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interviews/{id}/comms:
    post:
      operationId: sendInterviewComm
      tags: [HRMS - Recruitment]
      summary: Interview comm (invite/reminder/reschedule/cancel) (R-RA-0142)
      responses:
        "201": { description: Comm recorded (queued or stubbed) }
        "409": { description: Interview not commable / version conflict }
        "422": { description: Reschedule requires newDate+newTime }
      security: [{ bearerAuth: [] }]
    get:
      operationId: listInterviewComms
      tags: [HRMS - Recruitment]
      summary: List interview communications log
      responses:
        "200": { description: Comms list }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interviews/{id}/candidate-response:
    post:
      operationId: recordCandidateResponse
      tags: [HRMS - Recruitment]
      summary: Candidate confirm / request reschedule (R-RA-0143)
      responses:
        "201": { description: Response recorded }
        "409": { description: Interview not commable / reschedule pending }
        "422": { description: Invalid response (past slot, missing fields) }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interviews/{id}/candidate-responses:
    get:
      operationId: listCandidateResponses
      tags: [HRMS - Recruitment]
      summary: List candidate responses for an interview
      responses:
        "200": { description: Responses list }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interview-reschedule-requests/{reqId}/approve:
    post:
      operationId: approveRescheduleRequest
      tags: [HRMS - Recruitment]
      summary: HR approves a reschedule request (applies new slot)
      responses:
        "200": { description: Approved, interview rescheduled }
        "409": { description: Not pending / version conflict }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interview-reschedule-requests/{reqId}/decline:
    post:
      operationId: declineRescheduleRequest
      tags: [HRMS - Recruitment]
      summary: HR declines a reschedule request
      responses:
        "200": { description: Declined }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interviews/{id}/recordings:
    post:
      operationId: registerRecording
      tags: [HRMS - Recruitment]
      summary: Register a recording/transcript with consent (R-RA-0152)
      responses:
        "201": { description: Recording registered with retention deadline }
        "422": { description: No consent / invalid key / path traversal }
      security: [{ bearerAuth: [] }]
    get:
      operationId: listRecordings
      tags: [HRMS - Recruitment]
      summary: List active recordings for an interview
      responses:
        "200": { description: Active recordings }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interview-recordings/{id}:
    delete:
      operationId: eraseRecording
      tags: [HRMS - Recruitment]
      summary: Soft-delete a recording (erasure, admin)
      responses:
        "200": { description: Deleted (object purge pending adapter) }
        "409": { description: Version conflict }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recordings/expired:
    get:
      operationId: listExpiredRecordings
      tags: [HRMS - Recruitment]
      summary: Retention purge candidates (admin)
      responses:
        "200": { description: Expired recordings }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interviews/{id}/calendar.ics:
    get:
      operationId: downloadInterviewIcs
      tags: [HRMS - Recruitment]
      summary: Download RFC-5545 iCalendar invite (R-RA-0140)
      responses:
        "200": { description: text/calendar attachment }
      security: [{ bearerAuth: [] }]

  /v1/hrms/interviews/{id}/calendar-sync:
    post:
      operationId: pushCalendarSync
      tags: [HRMS - Recruitment]
      summary: Push-sync to Google/Outlook (external seam, 501 when unwired)
      responses:
        "501": { description: Calendar sync not enabled / adapter not implemented }
      security: [{ bearerAuth: [] }]

  /v1/hrms/applications/{id}/fee/assess:
    post:
      operationId: assessApplicationFee
      tags: [HRMS - Recruitment]
      summary: Assess fee (exempt or pending) from vacancy (R-RA-0099)
      responses:
        "201": { description: Fee assessed }
        "200": { description: Already assessed (idempotent) }
      security: [{ bearerAuth: [] }]

  /v1/hrms/applications/{id}/fee/pay:
    post:
      operationId: payApplicationFee
      tags: [HRMS - Recruitment]
      summary: Record manual payment (admin)
      responses:
        "200": { description: Fee paid }
        "409": { description: Not payable (exempt/paid/refunded) }
        "422": { description: Missing payment reference }
        "501": { description: Online gateway not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/applications/{id}/fee:
    get:
      operationId: getApplicationFee
      tags: [HRMS - Recruitment]
      summary: Get fee status for an application
      responses:
        "200": { description: Fee record }
      security: [{ bearerAuth: [] }]

  /v1/hrms/applications/{id}/pdf:
    get:
      operationId: downloadApplicationPdf
      tags: [HRMS - Recruitment]
      summary: Download application copy as PDF (R-RA-0105)
      responses:
        "200": { description: application/pdf or text/html fallback }
      security: [{ bearerAuth: [] }]

  /v1/hrms/candidates/{id}/otp/trigger:
    post:
      operationId: triggerOtp
      tags: [HRMS - Recruitment]
      summary: Trigger OTP for email/mobile verification (DEF-RC-003)
      responses:
        "201": { description: OTP created }
        "501": { description: OTP verification not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/candidates/{id}/otp/verify:
    post:
      operationId: verifyOtp
      tags: [HRMS - Recruitment]
      summary: Validate a candidate OTP code
      responses:
        "200": { description: Verified }
        "422": { description: Invalid/expired code }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recruitment/ai/parse-resume:
    post:
      operationId: aiParseResume
      tags: [HRMS - Recruitment AI]
      summary: AI resume parsing (external seam, 501 when not wired)
      responses:
        "200": { description: Parsed result (or stub) }
        "501": { description: AI not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recruitment/ai/jd-match:
    post:
      operationId: aiJdMatch
      tags: [HRMS - Recruitment AI]
      summary: AI JD-match score (external seam)
      responses:
        "200": { description: Match result (or stub) }
        "501": { description: AI not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recruitment/ai/generate-questions:
    post:
      operationId: aiGenerateQuestions
      tags: [HRMS - Recruitment AI]
      summary: AI question generation (external seam)
      responses:
        "200": { description: Questions (or stub) }
        "501": { description: AI not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recruitment/proctoring/start:
    post:
      operationId: startProctoring
      tags: [HRMS - Recruitment]
      summary: Start remote proctoring session (external seam)
      responses:
        "200": { description: Session (or stub) }
        "501": { description: Proctoring not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recruitment/proctoring/end:
    post:
      operationId: endProctoring
      tags: [HRMS - Recruitment]
      summary: End remote proctoring session (external seam)
      responses:
        "200": { description: Ended (or stub) }
        "501": { description: Proctoring not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/recruitment/esign:
    post:
      operationId: eSignDocument
      tags: [HRMS - Recruitment]
      summary: Digital signature / eSign (external seam)
      responses:
        "200": { description: Signed (or stub) }
        "501": { description: eSign not enabled }
      security: [{ bearerAuth: [] }]

  /v1/hrms/attendance/geo-check-in:
    post:
      operationId: geoCheckIn
      tags: [HRMS]
      summary: GPS-based attendance check-in
      description: |
        Records employee attendance using GPS coordinates. Validates that the
        check-in location is within the configured geofence radius for the
        employee's assigned office. Rejects check-ins on gazetted holidays.
        Returns geofence status (within/outside) and distance from office.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeoCheckInRequest"
      responses:
        "201":
          description: Check-in recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [within_geofence, outside_geofence]
                  distanceMeters:
                    type: integer
                    nullable: true
                  officeName:
                    type: string
                    nullable: true
                  radiusMeters:
                    type: integer
                    nullable: true
                  isHoliday:
                    type: boolean
                  holidayName:
                    type: string
                    nullable: true
                  message:
                    type: string
        "400":
          description: Validation error or gazetted holiday
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/attendance/geo-check-out:
    post:
      operationId: geoCheckOut
      tags: [HRMS]
      summary: GPS-based attendance check-out
      description: |
        Records employee check-out using GPS coordinates. Validates location
        against the configured office geofence. Paired with geo-check-in to
        calculate total hours worked.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeoCheckInRequest"
      responses:
        "201":
          description: Check-out recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [check_out_recorded]
                  withinGeofence:
                    type: boolean
                  distanceMeters:
                    type: integer
                    nullable: true
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/attendance/geo-history:
    get:
      operationId: getGeoAttendanceHistory
      tags: [HRMS]
      summary: Get geo-attendance history
      description: |
        Returns the geo-attendance check-in/check-out history for an employee.
        Defaults to the authenticated user's records. HR admins can query any
        employee by passing employeeId.
      parameters:
        - name: employeeId
          in: query
          description: Employee UUID (defaults to authenticated user)
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Attendance history records (max 60)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        date:
                          type: string
                          format: date
                        checkType:
                          type: string
                          enum: [check_in, check_out]
                        withinGeofence:
                          type: boolean
                        distanceMeters:
                          type: integer
                          nullable: true
                        markedAt:
                          type: string
                          format: date-time
                        selfieFileKey:
                          type: string
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/attendance/reportees:
    get:
      operationId: getReporteesAttendance
      tags: [HRMS]
      summary: Get reportees' geo-attendance
      description: |
        Returns geo-attendance records for the authenticated officer's direct
        reports. HR admins see all employees in the tenant. Used by reporting
        officers to monitor team attendance and geofence compliance.
      responses:
        "200":
          description: Reportees attendance records (max 100)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        employeeId:
                          type: string
                          format: uuid
                        date:
                          type: string
                          format: date
                        checkType:
                          type: string
                          enum: [check_in, check_out]
                        withinGeofence:
                          type: boolean
                        distanceMeters:
                          type: integer
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/office-locations:
    get:
      operationId: listOfficeLocations
      tags: [HRMS]
      summary: List office locations
      description: |
        Returns all configured office locations for the current tenant.
        Office locations define geofence boundaries for GPS-based attendance
        validation. Each location has coordinates and a radius in meters.
      responses:
        "200":
          description: List of office locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        address:
                          type: string
                          nullable: true
                        latitude:
                          type: number
                          format: double
                        longitude:
                          type: number
                          format: double
                        radiusMeters:
                          type: integer
                        isActive:
                          type: boolean
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []
    post:
      operationId: createOfficeLocation
      tags: [HRMS]
      summary: Create an office location
      description: |
        Registers a new office location with GPS coordinates and geofence radius.
        Used to define the valid perimeter for geo-attendance check-ins. Radius
        must be between 50 and 5000 meters (default 200m).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, latitude, longitude]
              properties:
                name:
                  type: string
                  minLength: 1
                address:
                  type: string
                latitude:
                  type: number
                  format: double
                  minimum: -90
                  maximum: 90
                longitude:
                  type: number
                  format: double
                  minimum: -180
                  maximum: 180
                radiusMeters:
                  type: integer
                  minimum: 50
                  maximum: 5000
                  default: 200
      responses:
        "201":
          description: Office location created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  radiusMeters:
                    type: integer
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin or super_admin
      security:
        - bearerAuth: []

  /v1/hrms/employees:
    get:
      operationId: listEmployees
      tags: [HRMS]
      summary: List employees
      description: |
        Returns a paginated list of employees for the current tenant.
        Supports filtering by department, designation, and status.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: departmentId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [active, probation, suspended, retired, terminated]
        - name: search
          in: query
          description: Full-text search on name or employee code
          schema:
            type: string
      responses:
        "200":
          description: Paginated employee list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Employee"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/id-cards/me:
    get:
      operationId: getMyIdCard
      tags: [HRMS]
      summary: Get my digital ID card
      description: |
        Returns the authenticated employee's digital identity card including
        photo URL, QR code data, designation, and office details. Used by
        the mobile app to display the virtual ID card.
      responses:
        "200":
          description: Employee ID card data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdCard"
        "401":
          description: Missing or invalid bearer token
        "404":
          description: ID card not yet generated
      security:
        - bearerAuth: []

  /v1/hrms/id-cards/verify:
    post:
      operationId: verifyIdCardQr
      tags: [HRMS]
      summary: Verify an ID card QR code
      description: |
        Verifies a scanned QR code from a digital employee ID card.
        Returns employee identity and current employment status.
        Used by security checkpoints and reception desks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [qrPayload]
              properties:
                qrPayload:
                  type: string
                  description: Base64-encoded QR payload from the ID card
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  employee:
                    $ref: "#/components/schemas/Employee"
                  status:
                    type: string
                    enum: [active, expired, revoked]
        "400":
          description: Invalid QR payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Compensation Planning ───────────────────────────

  /v1/hrms/compensation/plans:
    post:
      operationId: createCompensationPlan
      tags: [HRMS]
      summary: Create a compensation plan
      description: |
        Creates a compensation planning cycle for a financial year with a
        total budget envelope and guidelines. Used by HR to plan increments,
        bonuses, and pay revisions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, fy, budgetMinor]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                fy:
                  type: string
                  pattern: '^\d{4}-\d{2}$'
                  description: Financial year (e.g. "2025-26")
                budgetMinor:
                  type: integer
                  minimum: 0
                  description: Total budget in paise
                guidelines:
                  type: object
                  additionalProperties: true
                  description: Guidelines key-value map
      responses:
        "201":
          description: Plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      fy:
                        type: string
                      budgetMinor:
                        type: integer
                      status:
                        type: string
                        enum: [draft]
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []
    get:
      operationId: listCompensationPlans
      tags: [HRMS]
      summary: List compensation plans
      description: |
        Returns compensation plans for the current tenant, ordered by creation
        date descending. Limited to 50 results.
      responses:
        "200":
          description: List of compensation plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        fy:
                          type: string
                        budget_minor:
                          type: integer
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/compensation/plans/{id}/model:
    post:
      operationId: modelCompensationPlan
      tags: [HRMS]
      summary: Generate compensation model recommendations
      description: |
        Runs a simplified compensation modelling scenario for the specified plan.
        Returns increment recommendations based on plan budget.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Model recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      planId:
                        type: string
                        format: uuid
                      model:
                        type: string
                      recommendations:
                        type: array
                        items:
                          type: object
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
        "404":
          description: Plan not found
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Learning Management System ─────────────────────

  /v1/hrms/lms/courses:
    post:
      operationId: createLmsCourse
      tags: [HRMS]
      summary: Create an LMS course
      description: |
        Creates a training course in the Learning Management System. Courses
        can be marked as mandatory for specific roles (compliance training).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, name]
              properties:
                code:
                  type: string
                  minLength: 1
                  maxLength: 32
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                description:
                  type: string
                  maxLength: 2000
                durationHours:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 1
                skillsGained:
                  type: array
                  items:
                    type: string
                  default: []
                mandatoryForRoles:
                  type: array
                  items:
                    type: string
                  default: []
      responses:
        "201":
          description: Course created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      code:
                        type: string
                      name:
                        type: string
                      durationHours:
                        type: integer
                      skillsGained:
                        type: array
                        items:
                          type: string
                      mandatoryForRoles:
                        type: array
                        items:
                          type: string
                      status:
                        type: string
                        enum: [active]
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []
    get:
      operationId: listLmsCourses
      tags: [HRMS]
      summary: List active LMS courses
      description: |
        Returns all active courses available for enrollment. Limited to 100 results.
      responses:
        "200":
          description: List of courses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        code:
                          type: string
                        name:
                          type: string
                        duration_hours:
                          type: integer
                        skills_gained:
                          type: array
                          items:
                            type: string
                        mandatory_for_roles:
                          type: array
                          items:
                            type: string
                        status:
                          type: string
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/lms/courses/{id}/enroll:
    post:
      operationId: enrollInCourse
      tags: [HRMS]
      summary: Enroll an employee in a course
      description: |
        Enrolls an employee into the specified LMS course. Idempotent — enrolling
        an already-enrolled employee is a no-op.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employeeId]
              properties:
                employeeId:
                  type: string
                  format: uuid
      responses:
        "201":
          description: Enrollment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      courseId:
                        type: string
                        format: uuid
                      employeeId:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [enrolled]
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/lms/enrollments/{id}/complete:
    post:
      operationId: completeEnrollment
      tags: [HRMS]
      summary: Mark an enrollment as completed
      description: |
        Marks a course enrollment as completed, optionally recording a score.
        Used by HR admins to confirm course completion.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                score:
                  type: number
                  minimum: 0
                  maximum: 100
      responses:
        "200":
          description: Enrollment marked as completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [completed]
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/lms/my-learning:
    get:
      operationId: getMyLearning
      tags: [HRMS]
      summary: Get my learning history
      description: |
        Returns the authenticated employee's course enrollments including
        status, completion date, and scores.
      responses:
        "200":
          description: Employee's learning records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                          enum: [enrolled, in_progress, completed]
                        enrolled_at:
                          type: string
                          format: date-time
                        completed_at:
                          type: string
                          format: date-time
                          nullable: true
                        score:
                          type: number
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/lms/compliance:
    get:
      operationId: getLmsCompliance
      tags: [HRMS]
      summary: Get LMS compliance report
      description: |
        Returns compliance status for mandatory training courses including
        completed and total enrolled counts per course.
      responses:
        "200":
          description: Compliance report
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        code:
                          type: string
                        name:
                          type: string
                        mandatory_for_roles:
                          type: array
                          items:
                            type: string
                        completed_count:
                          type: integer
                        total_enrolled:
                          type: integer
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Skills Matrix ──────────────────────────────────

  /v1/hrms/skills/competencies:
    post:
      operationId: createCompetency
      tags: [HRMS]
      summary: Create a competency definition
      description: |
        Defines a competency/skill in the skills matrix with configurable
        proficiency levels.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                category:
                  type: string
                  maxLength: 64
                  default: technical
                proficiencyLevels:
                  type: array
                  items:
                    type: string
                  default: ["beginner", "intermediate", "advanced", "expert"]
      responses:
        "201":
          description: Competency created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      category:
                        type: string
                      proficiencyLevels:
                        type: array
                        items:
                          type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/skills/role-matrix:
    post:
      operationId: upsertRoleCompetencyMapping
      tags: [HRMS]
      summary: Map a competency to a role
      description: |
        Creates or updates the required proficiency level for a competency
        within a role. Used to build the skills matrix (what skills each role
        needs at what level).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleRef, competencyId, requiredLevel]
              properties:
                roleRef:
                  type: string
                  maxLength: 128
                  description: Role identifier (designation code or role name)
                competencyId:
                  type: string
                  format: uuid
                requiredLevel:
                  type: string
                  maxLength: 32
                  description: Required proficiency level for this role
      responses:
        "201":
          description: Mapping created/updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      roleRef:
                        type: string
                      competencyId:
                        type: string
                        format: uuid
                      requiredLevel:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/skills/assessments:
    post:
      operationId: createSkillAssessment
      tags: [HRMS]
      summary: Assess an employee's skill level
      description: |
        Records a skill/competency assessment for an employee. The assessed
        level is compared against the role-matrix to identify gaps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employeeId, competencyId, assessedLevel]
              properties:
                employeeId:
                  type: string
                  format: uuid
                competencyId:
                  type: string
                  format: uuid
                assessedLevel:
                  type: string
                  maxLength: 32
                notes:
                  type: string
                  maxLength: 512
      responses:
        "201":
          description: Assessment recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      employeeId:
                        type: string
                        format: uuid
                      competencyId:
                        type: string
                        format: uuid
                      assessedLevel:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/skills/gap-analysis:
    get:
      operationId: getSkillGapAnalysis
      tags: [HRMS]
      summary: Get skill gap analysis for an employee
      description: |
        Compares an employee's assessed skill levels against the required
        levels defined in the role-competency matrix. Returns each competency
        with required vs actual level.
      parameters:
        - name: employeeId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Gap analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        competency:
                          type: string
                        required_level:
                          type: string
                        actual_level:
                          type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/skills/team-heatmap:
    get:
      operationId: getSkillTeamHeatmap
      tags: [HRMS]
      summary: Get team skills heatmap
      description: |
        Returns aggregated skill assessment counts grouped by competency and
        proficiency level. Used to visualize team capabilities as a heatmap.
      parameters:
        - name: departmentId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Heatmap data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        competency:
                          type: string
                        assessed_level:
                          type: string
                        count:
                          type: integer
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Succession Planning ────────────────────────────

  /v1/hrms/succession/critical-roles:
    post:
      operationId: createSuccessionPlan
      tags: [HRMS]
      summary: Mark a role as critical for succession
      description: |
        Registers a role as critical and creates a succession plan entry.
        Critical roles without ready nominees surface in the risk report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleRef]
              properties:
                roleRef:
                  type: string
                  maxLength: 128
                  description: Role identifier (designation code)
                departmentId:
                  type: string
                  format: uuid
      responses:
        "201":
          description: Succession plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      roleRef:
                        type: string
                      isCritical:
                        type: boolean
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/succession/nominees:
    post:
      operationId: addSuccessionNominee
      tags: [HRMS]
      summary: Add a succession nominee
      description: |
        Adds an employee as a potential successor for a critical role.
        Includes readiness assessment and optional development plan.
        Upserts on (tenant, plan, employee).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId, employeeId]
              properties:
                planId:
                  type: string
                  format: uuid
                employeeId:
                  type: string
                  format: uuid
                readiness:
                  type: string
                  enum: [now, 1yr, 2yr, 3yr]
                  default: 1yr
                developmentPlan:
                  type: string
                  maxLength: 2000
      responses:
        "201":
          description: Nominee added/updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      planId:
                        type: string
                        format: uuid
                      employeeId:
                        type: string
                        format: uuid
                      readiness:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/succession/pipeline:
    get:
      operationId: getSuccessionPipeline
      tags: [HRMS]
      summary: Get succession pipeline overview
      description: |
        Returns all critical roles with nominee counts and ready-now counts.
        Provides a high-level view of succession bench strength.
      responses:
        "200":
          description: Pipeline data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        role_ref:
                          type: string
                        department_id:
                          type: string
                          format: uuid
                          nullable: true
                        nominee_count:
                          type: integer
                        ready_now:
                          type: integer
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/succession/risk:
    get:
      operationId: getSuccessionRisk
      tags: [HRMS]
      summary: Get succession risk report
      description: |
        Returns critical roles that have ZERO ready-now nominees, indicating
        a succession risk. These roles need immediate attention.
      responses:
        "200":
          description: At-risk roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        role_ref:
                          type: string
                        department_id:
                          type: string
                          format: uuid
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Procurement Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/procurement/indents:
    post:
      operationId: createIndent
      tags: [Procurement]
      summary: Create a purchase indent
      description: |
        Creates a purchase indent (material requisition) from a department.
        The indent enters the approval workflow and, once approved, can be
        converted to a purchase order. Links to budget head for fund availability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIndentRequest"
      responses:
        "202":
          description: Indent creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires procurement_officer
      security:
        - bearerAuth: []

  /v1/procurement/purchase-orders:
    post:
      operationId: createPurchaseOrder
      tags: [Procurement]
      summary: Create a purchase order
      description: |
        Creates a purchase order against an approved indent and selected vendor.
        Includes line items with quantities, rates, and delivery schedule.
        Links to the sanction for fund commitment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePurchaseOrderRequest"
      responses:
        "202":
          description: PO creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires procurement_officer or procurement_admin
      security:
        - bearerAuth: []

  /v1/procurement/grn:
    post:
      operationId: createGrn
      tags: [Procurement]
      summary: Record goods received
      description: |
        Records a Goods Received Note (GRN) against a purchase order.
        Triggers stock entry creation and enables bill processing for the
        received quantity. Supports partial receipts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGrnRequest"
      responses:
        "202":
          description: GRN accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires store_keeper or procurement_officer
      security:
        - bearerAuth: []

  /v1/procurement/vendors:
    get:
      operationId: listVendors
      tags: [Procurement]
      summary: List registered vendors
      description: |
        Returns a paginated list of registered vendors/suppliers for the tenant.
        Includes vendor rating, categories, and compliance status (GST, PAN).
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: category
          in: query
          schema:
            type: string
        - name: search
          in: query
          description: Search by vendor name or GSTIN
          schema:
            type: string
      responses:
        "200":
          description: Paginated vendor list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Vendor"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Tenant Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/settings:
    get:
      operationId: getTenantSettings
      tags: [Tenant]
      summary: Get tenant settings
      description: |
        Returns all configuration settings for the current tenant including
        locale, timezone, fiscal year start, enabled modules, and branding.
      responses:
        "200":
          description: Tenant settings object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                    description: Key-value settings map
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []
    put:
      operationId: upsertTenantSetting
      tags: [Tenant]
      summary: Create or update a setting
      description: |
        Creates or updates a single tenant configuration setting.
        Only tenant_admin and super_admin roles can modify settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key, value]
              properties:
                key:
                  type: string
                  description: Setting key (dot-notation, e.g. "locale.timezone")
                  examples: ["locale.timezone", "finance.fiscal_year_start", "branding.logo_url"]
                value:
                  description: Setting value (string, number, boolean, or object)
      responses:
        "202":
          description: Setting update accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin or super_admin
      security:
        - bearerAuth: []

  /v1/tenant/plans:
    get:
      operationId: listTenantPlans
      tags: [Tenant]
      summary: List available plans
      description: |
        Returns the list of subscription plans available for upgrade/downgrade.
        Includes feature entitlements, user limits, and pricing for each plan.
      responses:
        "200":
          description: Available plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          examples: ["Small Office", "PSU", "Govt Department"]
                        maxUsers:
                          type: integer
                        modules:
                          type: array
                          items:
                            type: string
                        priceMonthlyPaise:
                          type: integer
                          description: Monthly price in paise
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []

  /v1/tenant/usage:
    get:
      operationId: getTenantUsage
      tags: [Tenant]
      summary: Get usage dashboard
      description: |
        Returns current resource usage for the tenant including active users,
        storage consumption, API call counts, and queue message volume.
        Used by the admin dashboard to show quota utilization.
      responses:
        "200":
          description: Usage metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  activeUsers:
                    type: integer
                  maxUsers:
                    type: integer
                  storageUsedBytes:
                    type: integer
                    format: int64
                  storageMaxBytes:
                    type: integer
                    format: int64
                  apiCallsThisMonth:
                    type: integer
                  plan:
                    type: string
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin
      security:
        - bearerAuth: []

  /v1/tenant/subscription/upgrade:
    post:
      operationId: upgradePlan
      tags: [Tenant]
      summary: Upgrade subscription plan
      description: |
        Initiates a plan upgrade for the tenant. Prorates charges for the
        remaining billing period. Takes effect immediately for feature access;
        billing adjustment appears on the next invoice.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId]
              properties:
                planId:
                  type: string
                  format: uuid
                  description: Target plan ID to upgrade to
      responses:
        "202":
          description: Upgrade request accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error (e.g. downgrade not allowed via this endpoint)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin or super_admin
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Admin Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/admin/feature-flags/manage:
    get:
      operationId: listFeatureFlags
      tags: [Admin]
      summary: List feature flags
      description: |
        Returns all feature flags for the tenant including their current state,
        rollout percentage, and targeting rules.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Feature flags list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeatureFlag"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
      security:
        - bearerAuth: []
    post:
      operationId: createFeatureFlag
      tags: [Admin]
      summary: Create a feature flag
      description: |
        Creates a new feature flag. Flags start disabled by default.
        Supports percentage rollouts and user/role targeting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFeatureFlagRequest"
      responses:
        "202":
          description: Flag creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
      security:
        - bearerAuth: []

  /v1/admin/feature-flags/manage/{id}/kill:
    post:
      operationId: killFeatureFlag
      tags: [Admin]
      summary: Kill switch — disable flag immediately
      description: |
        Emergency kill switch that immediately disables a feature flag for all
        users. Use during incidents to disable problematic features without
        a full deployment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Kill switch activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
        "404":
          description: Feature flag not found
      security:
        - bearerAuth: []

  /v1/admin/webhooks:
    get:
      operationId: listWebhooks
      tags: [Admin]
      summary: List webhooks
      description: |
        Returns configured webhook endpoints for the tenant. Webhooks deliver
        real-time event notifications for configured event types.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Webhook list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin
      security:
        - bearerAuth: []
    post:
      operationId: createWebhook
      tags: [Admin]
      summary: Create a webhook
      description: |
        Registers a new webhook endpoint. The URL will receive POST requests
        with event payloads. Supports HMAC signature verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "202":
          description: Webhook creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin
      security:
        - bearerAuth: []

  /v1/admin/data-export:
    post:
      operationId: requestDataExport
      tags: [Admin]
      summary: Request a data export
      description: |
        Initiates an asynchronous full or partial data export for the tenant.
        Generates a downloadable archive (ZIP) containing CSV/JSON files.
        Notifies via webhook and email when ready.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [csv, json]
                modules:
                  type: array
                  items:
                    type: string
                  description: Modules to export (empty = all)
                fromDate:
                  type: string
                  format: date
                toDate:
                  type: string
                  format: date
      responses:
        "202":
          description: Export job queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin or super_admin
      security:
[...]
