openapi: "3.1.0"
info:
  title: CivitasOne Suite API
  version: "0.2.0"
  description: |
    Unified API for CivitasOne government ERP suite.
    All endpoints require Bearer token authentication (Keycloak OIDC).
    Write operations return 202 Accepted (CQRS async processing).
  contact:
    name: CivitasOne Platform Team
    url: https://civitasone.app/docs/api
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html
servers:
  - url: https://api.civitasone.app
    description: Production
  - url: http://localhost:8080
    description: Local Development
security:
  - bearerAuth: []
tags:
  - name: Finance
    description: Budget, bills, payments, GL, sanctions
  - name: HRMS
    description: Employees, leave, attendance, payroll
  - name: Procurement
    description: Indents, vendors, purchase orders, GRN
  - name: Tenant
    description: Settings, plans, subscriptions, quotas
  - name: Admin
    description: Feature flags, webhooks, scheduled jobs, data export
  - name: Identity
    description: Authentication, sessions, devices
  - name: Citizen
    description: Requests, RTI, grievances
  - name: Stock
    description: Items, barcode lookup, goods receipt
  - name: Helpdesk
    description: Tickets, SLA, escalation
  - name: Audit
    description: Events, compliance, observations
  - name: Payroll
    description: Pay runs, F&F settlements, tax computation
  - name: Workflow
    description: Decision tables, workflow instances, tasks
  - name: Analytics
    description: Query engine, joins, calculated fields, drill-through

paths:
  # ═══════════════════════════════════════════════════════════════════════════
  # Finance Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/finance/bills:
    post:
      operationId: createBill
      tags: [Finance]
      summary: Create a new bill
      description: |
        Creates a bill (expenditure voucher) for a vendor or contractor payment.
        The bill enters the approval workflow and, once sanctioned, becomes eligible
        for payment processing. Amount is in paise (minor units).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillRequest"
      responses:
        "202":
          description: Bill creation accepted for async processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_officer or finance_admin
      security:
        - bearerAuth: []
    get:
      operationId: listBills
      tags: [Finance]
      summary: List bills
      description: |
        Returns a paginated list of bills for the current tenant.
        Supports filtering by status, vendor, and date range.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, pending, sanctioned, paid, cancelled]
        - name: vendorId
          in: query
          schema:
            type: string
            format: uuid
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Paginated list of bills
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Bill"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/finance/sanctions:
    post:
      operationId: createSanction
      tags: [Finance]
      summary: Create a budget sanction
      description: |
        Creates an expenditure sanction against a budget head. The sanction
        reserves funds and must be approved by a checker (maker-checker pattern)
        before bills can be drawn against it. Amount in paise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSanctionRequest"
      responses:
        "202":
          description: Sanction creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_officer or finance_admin
      security:
        - bearerAuth: []

  /v1/finance/payments:
    post:
      operationId: initiatePayment
      tags: [Finance]
      summary: Initiate a payment
      description: |
        Initiates payment processing for a sanctioned bill. Supports PFMS
        integration for government treasury payments and NEFT/RTGS for direct
        bank transfers. Amount in paise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "202":
          description: Payment initiation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_admin
      security:
        - bearerAuth: []

  /v1/finance/gl/entries:
    get:
      operationId: listGlEntries
      tags: [Finance]
      summary: List General Ledger entries
      description: |
        Returns double-entry GL journal entries for the current tenant.
        Each transaction produces balanced debit/credit entries. Supports
        filtering by account, date range, and voucher reference.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: accountId
          in: query
          schema:
            type: string
            format: uuid
        - name: fromDate
          in: query
          schema:
            type: string
            format: date
        - name: toDate
          in: query
          schema:
            type: string
            format: date
        - name: voucherRef
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated GL entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GlEntry"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/finance/budgets:
    post:
      operationId: createBudget
      tags: [Finance]
      summary: Create a budget allocation
      description: |
        Creates a budget allocation for a financial year against a Head of Account.
        Allocations define the spending ceiling for a budget head. Amount in paise.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBudgetRequest"
      responses:
        "202":
          description: Budget creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires finance_officer or finance_admin
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # HRMS Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/hrms/leave/apply:
    post:
      operationId: applyLeave
      tags: [HRMS]
      summary: Apply for leave
      description: |
        Submits a leave application for the authenticated employee. Validates
        against CCS(Leave) Rules including balance checks, minimum service
        requirements, and leave-type-specific policies (CL/EL/HPL/ML etc).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplyLeaveRequest"
      responses:
        "202":
          description: Leave application accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
        "422":
          description: Leave rule violation (CCS Rules)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/attendance/geo-check-in:
    post:
      operationId: geoCheckIn
      tags: [HRMS]
      summary: GPS-based attendance check-in
      description: |
        Records employee attendance using GPS coordinates. Validates that the
        check-in location is within the configured geofence radius for the
        employee's assigned office. Includes device fingerprint for fraud detection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GeoCheckInRequest"
      responses:
        "202":
          description: Check-in accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "422":
          description: Outside geofence radius
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  /v1/hrms/employees:
    get:
      operationId: listEmployees
      tags: [HRMS]
      summary: List employees
      description: |
        Returns a paginated list of employees for the current tenant.
        Supports filtering by department, designation, and status.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: departmentId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [active, probation, suspended, retired, terminated]
        - name: search
          in: query
          description: Full-text search on name or employee code
          schema:
            type: string
      responses:
        "200":
          description: Paginated employee list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Employee"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  /v1/hrms/id-cards/me:
    get:
      operationId: getMyIdCard
      tags: [HRMS]
      summary: Get my digital ID card
      description: |
        Returns the authenticated employee's digital identity card including
        photo URL, QR code data, designation, and office details. Used by
        the mobile app to display the virtual ID card.
      responses:
        "200":
          description: Employee ID card data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdCard"
        "401":
          description: Missing or invalid bearer token
        "404":
          description: ID card not yet generated
      security:
        - bearerAuth: []

  /v1/hrms/id-cards/verify:
    post:
      operationId: verifyIdCardQr
      tags: [HRMS]
      summary: Verify an ID card QR code
      description: |
        Verifies a scanned QR code from a digital employee ID card.
        Returns employee identity and current employment status.
        Used by security checkpoints and reception desks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [qrPayload]
              properties:
                qrPayload:
                  type: string
                  description: Base64-encoded QR payload from the ID card
      responses:
        "200":
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  employee:
                    $ref: "#/components/schemas/Employee"
                  status:
                    type: string
                    enum: [active, expired, revoked]
        "400":
          description: Invalid QR payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Compensation Planning ───────────────────────────

  /v1/hrms/compensation/plans:
    post:
      operationId: createCompensationPlan
      tags: [HRMS]
      summary: Create a compensation plan
      description: |
        Creates a compensation planning cycle for a financial year with a
        total budget envelope and guidelines. Used by HR to plan increments,
        bonuses, and pay revisions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, fy, budgetMinor]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                fy:
                  type: string
                  pattern: '^\d{4}-\d{2}$'
                  description: Financial year (e.g. "2025-26")
                budgetMinor:
                  type: integer
                  minimum: 0
                  description: Total budget in paise
                guidelines:
                  type: object
                  additionalProperties: true
                  description: Guidelines key-value map
      responses:
        "201":
          description: Plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      fy:
                        type: string
                      budgetMinor:
                        type: integer
                      status:
                        type: string
                        enum: [draft]
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []
    get:
      operationId: listCompensationPlans
      tags: [HRMS]
      summary: List compensation plans
      description: |
        Returns compensation plans for the current tenant, ordered by creation
        date descending. Limited to 50 results.
      responses:
        "200":
          description: List of compensation plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        fy:
                          type: string
                        budget_minor:
                          type: integer
                        status:
                          type: string
                        created_at:
                          type: string
                          format: date-time
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/compensation/plans/{id}/model:
    post:
      operationId: modelCompensationPlan
      tags: [HRMS]
      summary: Generate compensation model recommendations
      description: |
        Runs a simplified compensation modelling scenario for the specified plan.
        Returns increment recommendations based on plan budget.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Model recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      planId:
                        type: string
                        format: uuid
                      model:
                        type: string
                      recommendations:
                        type: array
                        items:
                          type: object
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
        "404":
          description: Plan not found
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Learning Management System ─────────────────────

  /v1/hrms/lms/courses:
    post:
      operationId: createLmsCourse
      tags: [HRMS]
      summary: Create an LMS course
      description: |
        Creates a training course in the Learning Management System. Courses
        can be marked as mandatory for specific roles (compliance training).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, name]
              properties:
                code:
                  type: string
                  minLength: 1
                  maxLength: 32
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                description:
                  type: string
                  maxLength: 2000
                durationHours:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  default: 1
                skillsGained:
                  type: array
                  items:
                    type: string
                  default: []
                mandatoryForRoles:
                  type: array
                  items:
                    type: string
                  default: []
      responses:
        "201":
          description: Course created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      code:
                        type: string
                      name:
                        type: string
                      durationHours:
                        type: integer
                      skillsGained:
                        type: array
                        items:
                          type: string
                      mandatoryForRoles:
                        type: array
                        items:
                          type: string
                      status:
                        type: string
                        enum: [active]
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []
    get:
      operationId: listLmsCourses
      tags: [HRMS]
      summary: List active LMS courses
      description: |
        Returns all active courses available for enrollment. Limited to 100 results.
      responses:
        "200":
          description: List of courses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        code:
                          type: string
                        name:
                          type: string
                        duration_hours:
                          type: integer
                        skills_gained:
                          type: array
                          items:
                            type: string
                        mandatory_for_roles:
                          type: array
                          items:
                            type: string
                        status:
                          type: string
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/lms/courses/{id}/enroll:
    post:
      operationId: enrollInCourse
      tags: [HRMS]
      summary: Enroll an employee in a course
      description: |
        Enrolls an employee into the specified LMS course. Idempotent — enrolling
        an already-enrolled employee is a no-op.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employeeId]
              properties:
                employeeId:
                  type: string
                  format: uuid
      responses:
        "201":
          description: Enrollment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      courseId:
                        type: string
                        format: uuid
                      employeeId:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [enrolled]
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/lms/enrollments/{id}/complete:
    post:
      operationId: completeEnrollment
      tags: [HRMS]
      summary: Mark an enrollment as completed
      description: |
        Marks a course enrollment as completed, optionally recording a score.
        Used by HR admins to confirm course completion.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                score:
                  type: number
                  minimum: 0
                  maximum: 100
      responses:
        "200":
          description: Enrollment marked as completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      status:
                        type: string
                        enum: [completed]
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/lms/my-learning:
    get:
      operationId: getMyLearning
      tags: [HRMS]
      summary: Get my learning history
      description: |
        Returns the authenticated employee's course enrollments including
        status, completion date, and scores.
      responses:
        "200":
          description: Employee's learning records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                          enum: [enrolled, in_progress, completed]
                        enrolled_at:
                          type: string
                          format: date-time
                        completed_at:
                          type: string
                          format: date-time
                          nullable: true
                        score:
                          type: number
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/lms/compliance:
    get:
      operationId: getLmsCompliance
      tags: [HRMS]
      summary: Get LMS compliance report
      description: |
        Returns compliance status for mandatory training courses including
        completed and total enrolled counts per course.
      responses:
        "200":
          description: Compliance report
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        code:
                          type: string
                        name:
                          type: string
                        mandatory_for_roles:
                          type: array
                          items:
                            type: string
                        completed_count:
                          type: integer
                        total_enrolled:
                          type: integer
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Skills Matrix ──────────────────────────────────

  /v1/hrms/skills/competencies:
    post:
      operationId: createCompetency
      tags: [HRMS]
      summary: Create a competency definition
      description: |
        Defines a competency/skill in the skills matrix with configurable
        proficiency levels.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                category:
                  type: string
                  maxLength: 64
                  default: technical
                proficiencyLevels:
                  type: array
                  items:
                    type: string
                  default: ["beginner", "intermediate", "advanced", "expert"]
      responses:
        "201":
          description: Competency created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      category:
                        type: string
                      proficiencyLevels:
                        type: array
                        items:
                          type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/skills/role-matrix:
    post:
      operationId: upsertRoleCompetencyMapping
      tags: [HRMS]
      summary: Map a competency to a role
      description: |
        Creates or updates the required proficiency level for a competency
        within a role. Used to build the skills matrix (what skills each role
        needs at what level).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleRef, competencyId, requiredLevel]
              properties:
                roleRef:
                  type: string
                  maxLength: 128
                  description: Role identifier (designation code or role name)
                competencyId:
                  type: string
                  format: uuid
                requiredLevel:
                  type: string
                  maxLength: 32
                  description: Required proficiency level for this role
      responses:
        "201":
          description: Mapping created/updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      roleRef:
                        type: string
                      competencyId:
                        type: string
                        format: uuid
                      requiredLevel:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/skills/assessments:
    post:
      operationId: createSkillAssessment
      tags: [HRMS]
      summary: Assess an employee's skill level
      description: |
        Records a skill/competency assessment for an employee. The assessed
        level is compared against the role-matrix to identify gaps.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employeeId, competencyId, assessedLevel]
              properties:
                employeeId:
                  type: string
                  format: uuid
                competencyId:
                  type: string
                  format: uuid
                assessedLevel:
                  type: string
                  maxLength: 32
                notes:
                  type: string
                  maxLength: 512
      responses:
        "201":
          description: Assessment recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      employeeId:
                        type: string
                        format: uuid
                      competencyId:
                        type: string
                        format: uuid
                      assessedLevel:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/skills/gap-analysis:
    get:
      operationId: getSkillGapAnalysis
      tags: [HRMS]
      summary: Get skill gap analysis for an employee
      description: |
        Compares an employee's assessed skill levels against the required
        levels defined in the role-competency matrix. Returns each competency
        with required vs actual level.
      parameters:
        - name: employeeId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Gap analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        competency:
                          type: string
                        required_level:
                          type: string
                        actual_level:
                          type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, hr_officer, manager, or employee
      security:
        - bearerAuth: []

  /v1/hrms/skills/team-heatmap:
    get:
      operationId: getSkillTeamHeatmap
      tags: [HRMS]
      summary: Get team skills heatmap
      description: |
        Returns aggregated skill assessment counts grouped by competency and
        proficiency level. Used to visualize team capabilities as a heatmap.
      parameters:
        - name: departmentId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Heatmap data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        competency:
                          type: string
                        assessed_level:
                          type: string
                        count:
                          type: integer
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  # ─── HRMS Gap Features: Succession Planning ────────────────────────────

  /v1/hrms/succession/critical-roles:
    post:
      operationId: createSuccessionPlan
      tags: [HRMS]
      summary: Mark a role as critical for succession
      description: |
        Registers a role as critical and creates a succession plan entry.
        Critical roles without ready nominees surface in the risk report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleRef]
              properties:
                roleRef:
                  type: string
                  maxLength: 128
                  description: Role identifier (designation code)
                departmentId:
                  type: string
                  format: uuid
      responses:
        "201":
          description: Succession plan created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      roleRef:
                        type: string
                      isCritical:
                        type: boolean
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/succession/nominees:
    post:
      operationId: addSuccessionNominee
      tags: [HRMS]
      summary: Add a succession nominee
      description: |
        Adds an employee as a potential successor for a critical role.
        Includes readiness assessment and optional development plan.
        Upserts on (tenant, plan, employee).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId, employeeId]
              properties:
                planId:
                  type: string
                  format: uuid
                employeeId:
                  type: string
                  format: uuid
                readiness:
                  type: string
                  enum: [now, 1yr, 2yr, 3yr]
                  default: 1yr
                developmentPlan:
                  type: string
                  maxLength: 2000
      responses:
        "201":
          description: Nominee added/updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      planId:
                        type: string
                        format: uuid
                      employeeId:
                        type: string
                        format: uuid
                      readiness:
                        type: string
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/succession/pipeline:
    get:
      operationId: getSuccessionPipeline
      tags: [HRMS]
      summary: Get succession pipeline overview
      description: |
        Returns all critical roles with nominee counts and ready-now counts.
        Provides a high-level view of succession bench strength.
      responses:
        "200":
          description: Pipeline data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        role_ref:
                          type: string
                        department_id:
                          type: string
                          format: uuid
                          nullable: true
                        nominee_count:
                          type: integer
                        ready_now:
                          type: integer
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  /v1/hrms/succession/risk:
    get:
      operationId: getSuccessionRisk
      tags: [HRMS]
      summary: Get succession risk report
      description: |
        Returns critical roles that have ZERO ready-now nominees, indicating
        a succession risk. These roles need immediate attention.
      responses:
        "200":
          description: At-risk roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        role_ref:
                          type: string
                        department_id:
                          type: string
                          format: uuid
                          nullable: true
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires hr_admin, super_admin, or hr_officer
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Procurement Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/procurement/indents:
    post:
      operationId: createIndent
      tags: [Procurement]
      summary: Create a purchase indent
      description: |
        Creates a purchase indent (material requisition) from a department.
        The indent enters the approval workflow and, once approved, can be
        converted to a purchase order. Links to budget head for fund availability.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIndentRequest"
      responses:
        "202":
          description: Indent creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires procurement_officer
      security:
        - bearerAuth: []

  /v1/procurement/purchase-orders:
    post:
      operationId: createPurchaseOrder
      tags: [Procurement]
      summary: Create a purchase order
      description: |
        Creates a purchase order against an approved indent and selected vendor.
        Includes line items with quantities, rates, and delivery schedule.
        Links to the sanction for fund commitment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePurchaseOrderRequest"
      responses:
        "202":
          description: PO creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires procurement_officer or procurement_admin
      security:
        - bearerAuth: []

  /v1/procurement/grn:
    post:
      operationId: createGrn
      tags: [Procurement]
      summary: Record goods received
      description: |
        Records a Goods Received Note (GRN) against a purchase order.
        Triggers stock entry creation and enables bill processing for the
        received quantity. Supports partial receipts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGrnRequest"
      responses:
        "202":
          description: GRN accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires store_keeper or procurement_officer
      security:
        - bearerAuth: []

  /v1/procurement/vendors:
    get:
      operationId: listVendors
      tags: [Procurement]
      summary: List registered vendors
      description: |
        Returns a paginated list of registered vendors/suppliers for the tenant.
        Includes vendor rating, categories, and compliance status (GST, PAN).
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: category
          in: query
          schema:
            type: string
        - name: search
          in: query
          description: Search by vendor name or GSTIN
          schema:
            type: string
      responses:
        "200":
          description: Paginated vendor list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Vendor"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Tenant Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/settings:
    get:
      operationId: getTenantSettings
      tags: [Tenant]
      summary: Get tenant settings
      description: |
        Returns all configuration settings for the current tenant including
        locale, timezone, fiscal year start, enabled modules, and branding.
      responses:
        "200":
          description: Tenant settings object
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                    description: Key-value settings map
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []
    put:
      operationId: upsertTenantSetting
      tags: [Tenant]
      summary: Create or update a setting
      description: |
        Creates or updates a single tenant configuration setting.
        Only tenant_admin and super_admin roles can modify settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key, value]
              properties:
                key:
                  type: string
                  description: Setting key (dot-notation, e.g. "locale.timezone")
                  examples: ["locale.timezone", "finance.fiscal_year_start", "branding.logo_url"]
                value:
                  description: Setting value (string, number, boolean, or object)
      responses:
        "202":
          description: Setting update accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin or super_admin
      security:
        - bearerAuth: []

  /v1/tenant/plans:
    get:
      operationId: listTenantPlans
      tags: [Tenant]
      summary: List available plans
      description: |
        Returns the list of subscription plans available for upgrade/downgrade.
        Includes feature entitlements, user limits, and pricing for each plan.
      responses:
        "200":
          description: Available plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        name:
                          type: string
                          examples: ["Small Office", "PSU", "Govt Department"]
                        maxUsers:
                          type: integer
                        modules:
                          type: array
                          items:
                            type: string
                        priceMonthlyPaise:
                          type: integer
                          description: Monthly price in paise
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []

  /v1/tenant/usage:
    get:
      operationId: getTenantUsage
      tags: [Tenant]
      summary: Get usage dashboard
      description: |
        Returns current resource usage for the tenant including active users,
        storage consumption, API call counts, and queue message volume.
        Used by the admin dashboard to show quota utilization.
      responses:
        "200":
          description: Usage metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  activeUsers:
                    type: integer
                  maxUsers:
                    type: integer
                  storageUsedBytes:
                    type: integer
                    format: int64
                  storageMaxBytes:
                    type: integer
                    format: int64
                  apiCallsThisMonth:
                    type: integer
                  plan:
                    type: string
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin
      security:
        - bearerAuth: []

  /v1/tenant/subscription/upgrade:
    post:
      operationId: upgradePlan
      tags: [Tenant]
      summary: Upgrade subscription plan
      description: |
        Initiates a plan upgrade for the tenant. Prorates charges for the
        remaining billing period. Takes effect immediately for feature access;
        billing adjustment appears on the next invoice.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [planId]
              properties:
                planId:
                  type: string
                  format: uuid
                  description: Target plan ID to upgrade to
      responses:
        "202":
          description: Upgrade request accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error (e.g. downgrade not allowed via this endpoint)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin or super_admin
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Admin Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/admin/feature-flags/manage:
    get:
      operationId: listFeatureFlags
      tags: [Admin]
      summary: List feature flags
      description: |
        Returns all feature flags for the tenant including their current state,
        rollout percentage, and targeting rules.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Feature flags list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeatureFlag"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
      security:
        - bearerAuth: []
    post:
      operationId: createFeatureFlag
      tags: [Admin]
      summary: Create a feature flag
      description: |
        Creates a new feature flag. Flags start disabled by default.
        Supports percentage rollouts and user/role targeting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFeatureFlagRequest"
      responses:
        "202":
          description: Flag creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
      security:
        - bearerAuth: []

  /v1/admin/feature-flags/manage/{id}/kill:
    post:
      operationId: killFeatureFlag
      tags: [Admin]
      summary: Kill switch — disable flag immediately
      description: |
        Emergency kill switch that immediately disables a feature flag for all
        users. Use during incidents to disable problematic features without
        a full deployment.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Kill switch activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
        "404":
          description: Feature flag not found
      security:
        - bearerAuth: []

  /v1/admin/webhooks:
    get:
      operationId: listWebhooks
      tags: [Admin]
      summary: List webhooks
      description: |
        Returns configured webhook endpoints for the tenant. Webhooks deliver
        real-time event notifications for configured event types.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Webhook list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin
      security:
        - bearerAuth: []
    post:
      operationId: createWebhook
      tags: [Admin]
      summary: Create a webhook
      description: |
        Registers a new webhook endpoint. The URL will receive POST requests
        with event payloads. Supports HMAC signature verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "202":
          description: Webhook creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin
      security:
        - bearerAuth: []

  /v1/admin/data-export:
    post:
      operationId: requestDataExport
      tags: [Admin]
      summary: Request a data export
      description: |
        Initiates an asynchronous full or partial data export for the tenant.
        Generates a downloadable archive (ZIP) containing CSV/JSON files.
        Notifies via webhook and email when ready.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [csv, json]
                modules:
                  type: array
                  items:
                    type: string
                  description: Modules to export (empty = all)
                fromDate:
                  type: string
                  format: date
                toDate:
                  type: string
                  format: date
      responses:
        "202":
          description: Export job queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires tenant_admin or super_admin
      security:
        - bearerAuth: []

  /v1/admin/scheduled-jobs:
    get:
      operationId: listScheduledJobs
      tags: [Admin]
      summary: List scheduled jobs
      description: |
        Returns all configured scheduled/cron jobs for the tenant.
        Includes last run time, next scheduled run, and status.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: Scheduled jobs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ScheduledJob"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires super_admin
      security:
        - bearerAuth: []

  /v1/admin/platform-config:
    get:
      operationId: getPlatformConfig
      tags: [Admin]
      summary: Get platform configuration
      description: |
        Returns the full platform configuration including controllable settings
        (cache TTL, rate limits, log level, notifications) and read-only
        infrastructure parameters (database, Redis, queue, auth, encryption).
      responses:
        "200":
          description: Platform configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  controllable:
                    type: object
                    properties:
                      cacheTtl:
                        type: object
                        additionalProperties:
                          type: integer
                        description: Per-service cache TTL in seconds
                      rateLimits:
                        type: object
                        properties:
                          perMinute:
                            type: integer
                          burstMax:
                            type: integer
                      logLevel:
                        type: string
                        enum: [debug, info, warn, error]
                      debugModeUntil:
                        type: string
                        format: date-time
                        nullable: true
                      notifications:
                        type: object
                        properties:
                          emailProvider:
                            type: string
                          smsProvider:
                            type: string
                          emailFrom:
                            type: string
                            format: email
                          smsFrom:
                            type: string
                  infrastructure:
                    type: object
                    properties:
                      database:
                        type: object
                        properties:
                          host:
                            type: string
                          port:
                            type: integer
                          databases:
                            type: integer
                          poolMode:
                            type: string
                          maxConnections:
                            type: integer
                          rlsEnabled:
                            type: boolean
                      redis:
                        type: object
                        properties:
                          url:
                            type: string
                          status:
                            type: string
                      queue:
                        type: object
                        properties:
                          driver:
                            type: string
                          endpoint:
                            type: string
                          region:
                            type: string
                      auth:
                        type: object
                        properties:
                          provider:
                            type: string
                          algorithm:
                            type: string
                          realm:
                            type: string
                          audienceConfigured:
                            type: boolean
                      pgbouncer:
                        type: object
                        properties:
                          configured:
                            type: boolean
                          port:
                            type: integer
                          poolMode:
                            type: string
                          maxClientConn:
                            type: integer
                          defaultPoolSize:
                            type: integer
                      encryption:
                        type: object
                        properties:
                          piiAtRest:
                            type: boolean
                          mfaAtRest:
                            type: boolean
                          algorithm:
                            type: string
                      storage:
                        type: object
                        properties:
                          driver:
                            type: string
                          bucket:
                            type: string
                          endpoint:
                            type: string
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires platform_admin or super_admin
      security:
        - bearerAuth: []
    patch:
      operationId: patchPlatformConfig
      tags: [Admin]
      summary: Update controllable platform settings
      description: |
        Partially updates the controllable platform configuration. Only provided
        fields are updated; omitted fields remain unchanged. Supports cache TTL
        overrides, rate limit tuning, log level changes, and notification settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                cacheTtl:
                  type: object
                  additionalProperties:
                    type: integer
                    minimum: 5
                    maximum: 3600
                  description: Per-service cache TTL overrides (seconds)
                rateLimits:
                  type: object
                  properties:
                    perMinute:
                      type: integer
                      minimum: 10
                    burstMax:
                      type: integer
                      minimum: 5
                logLevel:
                  type: string
                  enum: [debug, info, warn, error]
                debugModeUntil:
                  type: string
                  format: date-time
                  nullable: true
                  description: ISO timestamp for auto-reverting debug mode (null = off)
                notifications:
                  type: object
                  properties:
                    emailProvider:
                      type: string
                    smsProvider:
                      type: string
                    emailFrom:
                      type: string
                      format: email
                    smsFrom:
                      type: string
      responses:
        "200":
          description: Updated controllable config
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples: ["updated"]
                  controllable:
                    type: object
                    description: Full controllable config after patch
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires platform_admin or super_admin
      security:
        - bearerAuth: []

  /v1/admin/platform-config/debug-mode:
    post:
      operationId: enableDebugMode
      tags: [Admin]
      summary: Enable time-limited debug mode
      description: |
        Enables debug-level logging for a specified duration. Automatically
        reverts to the previous log level when the duration expires. Useful
        for live-debugging production issues without a redeployment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                durationMinutes:
                  type: integer
                  minimum: 5
                  maximum: 60
                  default: 15
                  description: Duration in minutes before auto-revert
      responses:
        "200":
          description: Debug mode enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples: ["debug_enabled"]
                  until:
                    type: string
                    format: date-time
                    description: ISO timestamp when debug mode expires
                  durationMinutes:
                    type: integer
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires platform_admin or super_admin
      security:
        - bearerAuth: []

  /v1/admin/platform-config/gateway:
    get:
      operationId: getGatewayConfig
      tags: [Admin]
      summary: Get gateway service configuration
      description: |
        Returns the current runtime configuration of the API gateway service
        including JWT edge verification mode, upstream timeouts, circuit breaker
        settings, rate limits, and body size limits. Proxied via internal API
        to the gateway service.
      responses:
        "200":
          description: Gateway configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Current gateway runtime config
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires platform_admin or super_admin
        "502":
          description: Gateway service unreachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []
    patch:
      operationId: patchGatewayConfig
      tags: [Admin]
      summary: Update gateway configuration
      description: |
        Partially updates the gateway service runtime configuration. Changes
        take effect immediately without restart. Proxied to the gateway's
        internal config endpoint. Only provided fields are updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                jwtEdgeVerify:
                  type: string
                  enum: ["true", "audit", "off"]
                  description: |
                    JWT verification mode at edge: "true" = reject invalid tokens,
                    "audit" = log but allow, "off" = skip verification
                upstreamTimeoutMs:
                  type: integer
                  minimum: 1000
                  maximum: 120000
                  description: Upstream service timeout in milliseconds
                cbFailureThreshold:
                  type: integer
                  minimum: 1
                  maximum: 50
                  description: Circuit breaker failure count before opening
                cbRecoveryMs:
                  type: integer
                  minimum: 1000
                  maximum: 300000
                  description: Circuit breaker recovery period in milliseconds
                rateLimitMax:
                  type: integer
                  minimum: 10
                  maximum: 100000
                  description: Global rate limit (requests per window)
                rateLimitTenantMax:
                  type: integer
                  minimum: 10
                  maximum: 10000
                  description: Per-tenant rate limit (requests per window)
                authRateLimitMax:
                  type: integer
                  minimum: 3
                  maximum: 1000
                  description: Auth endpoint rate limit (login/token requests per window)
                bodyLimitBytes:
                  type: integer
                  minimum: 1024
                  maximum: 52428800
                  description: Maximum request body size in bytes (1KB–50MB)
      responses:
        "200":
          description: Gateway config updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    examples: ["updated"]
                  data:
                    type: object
                    description: Updated gateway config
        "400":
          description: Validation error (invalid values or unknown fields)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires platform_admin or super_admin
        "502":
          description: Gateway service unreachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Identity Service — SCIM 2.0 (RFC 7643/7644)
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/identity/scim/ServiceProviderConfig:
    get:
      operationId: scimServiceProviderConfig
      tags: [Identity]
      summary: SCIM Service Provider Configuration
      description: |
        Returns the SCIM 2.0 service provider configuration describing
        supported capabilities (patch, filter, bulk, etc.). Public endpoint
        — no authentication required.
      security: []
      responses:
        "200":
          description: SCIM ServiceProviderConfig resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimServiceProviderConfig"

  /v1/identity/scim/Users:
    get:
      operationId: scimListUsers
      tags: [Identity]
      summary: List SCIM users
      description: |
        Returns a paginated list of users in SCIM 2.0 format. Supports basic
        SCIM filter syntax (e.g. `userName eq "user@example.com"`).
        Used by external IdPs (Azure AD, Okta) for provisioning sync.
      parameters:
        - name: filter
          in: query
          description: "SCIM filter expression (e.g. `userName eq \"user@example.com\"`)"
          schema:
            type: string
        - name: startIndex
          in: query
          description: 1-based index of the first result (default 1)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: count
          in: query
          description: Maximum number of results (default 50, max 200)
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: SCIM ListResponse containing user resources
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimListResponse"
        "401":
          description: Missing or invalid SCIM bearer token
        "503":
          description: SCIM is not configured (SCIM_BEARER_TOKEN not set)
      security:
        - scimBearerToken: []
    post:
      operationId: scimCreateUser
      tags: [Identity]
      summary: Create (provision) a SCIM user
      description: |
        Creates a new user from an external IdP provisioning request.
        Maps SCIM User attributes to the internal user model. The user
        is created with status "active" and can authenticate immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScimCreateUserRequest"
      responses:
        "201":
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimUser"
        "400":
          description: Missing required field (userName/email)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "401":
          description: Missing or invalid SCIM bearer token
        "503":
          description: SCIM is not configured
      security:
        - scimBearerToken: []

  /v1/identity/scim/Users/{id}:
    get:
      operationId: scimGetUser
      tags: [Identity]
      summary: Get a SCIM user by ID
      description: |
        Returns a single user resource in SCIM 2.0 format.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: SCIM User resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimUser"
        "400":
          description: Invalid UUID format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "401":
          description: Missing or invalid SCIM bearer token
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "503":
          description: SCIM is not configured
      security:
        - scimBearerToken: []
    put:
      operationId: scimReplaceUser
      tags: [Identity]
      summary: Replace (full update) a SCIM user
      description: |
        Replaces all mutable attributes of a user. Maps SCIM User fields to
        internal attributes (email, name, active status).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScimReplaceUserRequest"
      responses:
        "200":
          description: User replaced successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimUser"
        "400":
          description: Invalid UUID format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "401":
          description: Missing or invalid SCIM bearer token
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "503":
          description: SCIM is not configured
      security:
        - scimBearerToken: []
    patch:
      operationId: scimPatchUser
      tags: [Identity]
      summary: Patch (partial update) a SCIM user
      description: |
        Applies partial updates using SCIM PatchOp semantics. Commonly used
        by IdPs to deactivate users (`active: false`) during deprovisioning.
        Supports `replace` operations on `active`, `userName`, and `name.formatted`.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScimPatchRequest"
      responses:
        "200":
          description: User patched successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimUser"
        "400":
          description: Invalid UUID format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "401":
          description: Missing or invalid SCIM bearer token
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "503":
          description: SCIM is not configured
      security:
        - scimBearerToken: []
    delete:
      operationId: scimDeleteUser
      tags: [Identity]
      summary: Delete (deprovision) a SCIM user
      description: |
        Soft-deletes a user by setting status to "disabled". The user can no
        longer authenticate but the record is retained for audit purposes.
        SCIM DELETE maps to deactivation, not hard-delete.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: User deactivated successfully (no content)
        "400":
          description: Invalid UUID format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "401":
          description: Missing or invalid SCIM bearer token
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScimError"
        "503":
          description: SCIM is not configured
      security:
        - scimBearerToken: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Citizen Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/citizen/requests:
    post:
      operationId: fileCitizenRequest
      tags: [Citizen]
      summary: File a citizen request
      description: |
        Submits a new citizen service request (grievance, RTI, general request).
        The request enters the department workflow for assignment and resolution.
        Citizens receive an acknowledgement number for tracking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCitizenRequestBody"
      responses:
        "202":
          description: Request filed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []
    get:
      operationId: listMyCitizenRequests
      tags: [Citizen]
      summary: List my requests
      description: |
        Returns the authenticated citizen's filed requests with current status.
        Includes request type, department, assigned officer, and last update.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, resolved, rejected, escalated]
        - name: type
          in: query
          schema:
            type: string
            enum: [grievance, rti, general, suggestion]
      responses:
        "200":
          description: Paginated citizen requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CitizenRequest"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []

  /v1/citizen/requests/{id}/timeline:
    get:
      operationId: getCitizenRequestTimeline
      tags: [Citizen]
      summary: Get request status timeline
      description: |
        Returns the full timeline of status changes and actions for a citizen
        request. Shows when the request was filed, assigned, responded to,
        escalated, or resolved — with timestamps and actor names.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Request timeline
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    format: uuid
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                          format: date-time
                        action:
                          type: string
                          enum: [filed, assigned, responded, escalated, resolved, rejected, reopened]
                        actor:
                          type: string
                        note:
                          type: string
        "401":
          description: Missing or invalid bearer token
        "404":
          description: Request not found or does not belong to current user
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Stock Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/stock/items/barcode/{code}:
    get:
      operationId: lookupItemByBarcode
      tags: [Stock]
      summary: Lookup item by barcode
      description: |
        Retrieves stock item details by scanning a barcode (EAN-13, Code-128, QR).
        Used by mobile app barcode scanner for quick item identification
        in stores and warehouses.
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          description: Barcode value (EAN-13, Code-128, or QR content)
      responses:
        "200":
          description: Stock item details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockItem"
        "401":
          description: Missing or invalid bearer token
        "404":
          description: No item found for this barcode
      security:
        - bearerAuth: []

  /v1/stock/entries:
    post:
      operationId: createStockEntry
      tags: [Stock]
      summary: Record a goods receipt
      description: |
        Records stock entry (goods receipt into store/warehouse). Links to
        GRN or purchase order. Updates item quantity and valuation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items, warehouseId, type]
              properties:
                type:
                  type: string
                  enum: [receipt, return, transfer_in]
                warehouseId:
                  type: string
                  format: uuid
                grnId:
                  type: string
                  format: uuid
                items:
                  type: array
                  items:
                    type: object
                    required: [itemId, quantity]
                    properties:
                      itemId:
                        type: string
                        format: uuid
                      quantity:
                        type: integer
                        minimum: 1
                      batchNo:
                        type: string
                      expiryDate:
                        type: string
                        format: date
      responses:
        "202":
          description: Stock entry accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires store_keeper
      security:
        - bearerAuth: []

  /v1/stock/physical:
    post:
      operationId: createStockAdjustment
      tags: [Stock]
      summary: Physical stock adjustment
      description: |
        Records a physical stock count adjustment (increase or decrease).
        Used during periodic physical verification to reconcile system
        quantities with actual counts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [warehouseId, items, reason]
              properties:
                warehouseId:
                  type: string
                  format: uuid
                reason:
                  type: string
                  enum: [physical_count, damage, expired, theft, correction]
                notes:
                  type: string
                items:
                  type: array
                  items:
                    type: object
                    required: [itemId, systemQty, physicalQty]
                    properties:
                      itemId:
                        type: string
                        format: uuid
                      systemQty:
                        type: integer
                      physicalQty:
                        type: integer
      responses:
        "202":
          description: Adjustment accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Insufficient role — requires store_keeper or inventory_admin
      security:
        - bearerAuth: []

  # ═══════════════════════════════════════════════════════════════════════════
  # Helpdesk Service
  # ═══════════════════════════════════════════════════════════════════════════

  /v1/helpdesk/tickets:
    post:
      operationId: createTicket
      tags: [Helpdesk]
      summary: Create a support ticket
      description: |
        Creates a new internal helpdesk ticket for IT support, facilities,
        or administrative requests. Tickets are auto-assigned based on category
        and SLA timers start immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, category, description]
              properties:
                subject:
                  type: string
                  maxLength: 200
                category:
                  type: string
                  enum: [it_hardware, it_software, network, facilities, admin, other]
                priority:
                  type: string
                  enum: [low, medium, high, critical]
                  default: medium
                description:
                  type: string
                  maxLength: 5000
                attachments:
                  type: array
                  items:
                    type: string
                    format: uri
                  maxItems: 5
      responses:
        "202":
          description: Ticket creation accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
        "401":
          description: Missing or invalid bearer token
      security:
        - bearerAuth: []
    get:
      operationId: listTickets
      tags: [Helpdesk]
      summary: List helpdesk tickets
      description: |
        Returns helpdesk tickets visible to the authenticated user.
        Regular users see their own tickets; helpdesk agents see assigned tickets;
        admins see all tickets.
      parameters:
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/OffsetParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [open, in_progress, waiting_on_user, resolved, closed]
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Paginated ticket list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        subject:
                          type: string
                        status:
                          type: string
                        priority:
                          type: string
                        category:
                          type: string
                        assignedTo:
                          type: string
                        createdAt:
[...]
